
 .menu{
     display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size:100px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
 }
 
 .body{
    background-color: #94e0c0;
    margin: 0px;
     }

 .grid{
     display: flex;
     flex-wrap: wrap;
     justify-content:space-evenly;
     padding: 10px;
     margin-left: 10px;
 }

.gridimg{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami{
border-radius:20px;
background-color: #ea8a7b;
margin-left: 50px;
padding: 10px;
width: 310px;
font-family: fantasy;

}

a:link{
    color: plum;
}

a:visited{
    color: violet;
}

.bodyimg{
    position:relative;
}

.bodyimg p{
    color: whitesmoke;
    font-size: large;
    font-family: sans-serif;
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translate(-50%,-50%);
}

.origami{
    position: relative;
}

.origami p{
    opacity: 0;
    position: absolute;
    top: 10%;
    right: 50%;
    transform: translate(-50%,-50%);
}

.origami:hover{
    opacity: 1;
    color: turquoise;
    transform: scale(1.2);
}

.origami:hover img{
    opacity:0.33;
}




 